body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #383838;
}

#btn{
    width: 100%;
    padding: 15px;
    background-color: rgb(97, 97, 97);
    color: white;
    text-shadow: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #474747;
    padding: 50px;
    border-bottom: 3px solid #ffffff;
}

.header a {
    color: #fff;
    margin: 5px;
    text-decoration: none;
}

h1 {
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#montform {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#montform label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#montform input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 0.5s;
}

#montform input:focus {
    outline: none;
    border-color: #383838;
    box-shadow: 0 0 5px #383838;
}

#montform button:hover {
    background-color: #005007;
}

.p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 1px black;
    text-decoration: underline;
}