
body {
    font-family: Arial, sans-serif;
    background-color: #383838;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #474747;
    padding: 50px;
    border-bottom: 3px solid #ffffff;
}

.header a {
    color: #fff;
    margin: 5px;
    text-decoration: none;
}

.edit a {
    color: #333;
    text-decoration: none;
}


.container {
    width: 80%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


h1 {
    font-size: 2em;
    text-align: center;
    color: #333;
}


input {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

input:hover {
    background-color: #45a049;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #5e5e5e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


.edit-btn, .delete-btn {
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #007BFF;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #FF5722;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e64a19;
}


h2 {
    text-align: center;
    color: #FF5722;
}
